.logo{
    width: 400px;
    height: 100px;
    display:flex;
    float: left;
}

.menu{
    width: 700px;
    height: 100px;
    display:flex;
    float: right;
    margin: 15px;
}

.header{
    width: 100%;
    height: 100px;
    display:flex;
}