.header {
  padding: 5px;
}

.contents {
  background-color: #eee;
  padding: 20px 10px;
}

.post-card {
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #ccc;
}
.post-card-username {
  margin: 20px;
}

.post-card-comment {
  margin: 5px;
  word-wrap: break-word;
}

.menu {
  padding: 10px 0;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: white;
}
